ACTION=="add", SUBSYSTEM=="leds", KERNEL=="platform::micmute", \
  RUN+="/bin/chgrp input /sys%p/brightness /sys%p/trigger", \
  RUN+="/bin/chmod 0664 /sys%p/brightness /sys%p/trigger"
